body {
  font-family: sans-serif;
  background-color: #fefefe;
}

.main__header {
  color: red;
}

.main__heading {
  color: violet;
  background-color: grey;
}

.main {
  margin: 0 auto;
  max-width: 1000px;
}


.navigation__link {
    color: red;
}